<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
    <h1>Contact Us</h1>
    <form method="post" action="{{url_for('login')}}">
        <div>
            <label for="name">Name</label>
            <input placeholder="name" id="name" name="username"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input placeholder="password" id="password" type="password" name="password" />
        </div>
        <button type="submit">OK</button>
    </form>
</body>
</html>